 
{{#each comments}}
   <div class="ui comment">
     <a class="ui avatar">
      <img class="ui avatar" src={{avatar}}>
     </a>
    <div class="content">
      <a class="author">{{username}}</a>
      <div class="metadata">
        <span class="date">{{formatDate date}}</span>
      </div>
      <div class="text">
        {{text}}<br>
        {{currentUserId}} <br>
        {{userId}}
      </div>
{{#ifEquals 1 userId}}
       <a href = "/about/deleteComment/{{id}}" class="reply">Delete</a>
      <a onclick="showHideLeague()" class="reply">Edit</a>
      <form class = "ui fluid segment form" id="league" action="/about/updateComment/{{id}}" method="POST">
        <div class="field">
        <span class="ui input">
         <input type="text" name="text" autofocus required title = "Please include some edited text" placeholder="Position" value = "{{text}}"> 
          <button class="ui submit icon button"><i class="icon pencil alternate"></i></button>
        </span>
      </div>
    </form>
      {{/ifEquals}}
    </div>
  </div>
     {{/each}}
