
{{#each comments}}
   <div class="ui comment">
     <a class="ui avatar">
      <img class="ui avatar" src={{avatar}}>
     </a>
    <div class="content">
      <a class="author">{{capitalise username}}</a>
      <div class="metadata">
        <span class="date">{{formatDate date}}</span>
      </div>
      <div class="ui text">
        {{text}}
      </div>
{{#ifEquals userId ../currentId}}
        <div class="actions">
          <div class="deleteEdit" id="i{{userId}}">
    <a class="reply" href = "/about/deleteComment/{{id}}">Delete</a>
    <a onclick="showEdit('_{{id}}')" class="reply">Edit</a>
        </div>
      </div>
      <form class = "ui fluid form" id="_{{id}}" action="/about/updateComment/{{id}}" method="POST">
        <div class="field">
        <span class="ui input">
         <input type="text" name="text" autofocus required title = "Please include some edited text" placeholder="Position" value = "{{text}}"> 
          <button class="ui submit icon button"><i class="icon pencil alternate"></i></button>
        </span>
      </div>
    </form>
      {{/ifEquals}}
    </div>
  </div>
     {{/each}}
