<table class="ui fixed sortable striped table">
  <thead>
    <tr>
      <th>League Position</th>
      <th>Club Name</th>
      <th >Manager</th>
      <th>European League</th>
      <th>Crest</th>
       <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each league.teams}}
      <tr>
        <td>
          {{position}}.
        
        </td>
        <td>
            {{name}}
        </td>
        <td>
          {{manager}}
        </td>
        <td>
          <img
                class="ui centered small image"
                src=" {{europeanleague}}"
              />
        </td>
        <td>
          <img
                class="ui centered small image"
                src="{{crest}}"
              />
        </td>
        <td>
          <a href="/league/{{../league.id}}/deleteteam/{{id}}" class="ui tiny red button"><i class="icon trash"></i></a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<p>
  <span id="rating"> </span>
</p>

<button class="ui blue button" onclick="getRating()">
  Rate it! <i class="star icon"></i>
</button>

