
  {{#each leagues}}

  <div class="card">
    <div class="image">
      <img class="ui medium image" src="{{logo}}">
    </div>
    <div class="content">
      <div class="header">{{name}}</div>
      <div class="meta">
        <a>Friends</a>
      </div>
      <div class="description">
        <span class = "bold"> Country: </span>{{country}} <br>
      <span class = "bold"> Continent: </span>{{continent}}<br>
      </div>
    </div>
    <div class="extra content">
      <a href="/league/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <a href="/dashboard/deleteleague/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
      </a>
    </div>
</div>
 {{/each}}