{{#each leagues}}
  <section class="ui center aligned middle aligned eight wide column">
<div class="ui segment">

    <div class="ui grid">
    <div class="ui center aligned sixteen wide column">
    <h2 class="bold">
      {{name}}
    </h2>
    <p > <span class = "bold"> Country: </span>{{country}} <br>
    <a href="/league/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <a href="/dashboard/deleteleague/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
      </a></p>
      <br>
      <img
      class="ui centered medium image"
      src={{logo}}
      />
                  </div>                       
    </div>
       </div>
  </section>
{{/each}}