
  {{#each leagues}}


  <div class="card">
    
      <img class="ui medium image" src="{{logo}}">
    
    <div class="center aligned content">
      <div class="header">{{capitalise name}}</div>
      <div class="meta">
        <a>{{teams.length}} Team(s)<br>
        {{formatDate date}}</a>
      </div>
      <div class="center aligned description">
        <span class = "bold"> Country: </span>{{country}} <br>
      <span class = "bold"> Continent: </span>{{continent}}<br>
      </div>
    </div>
    <div class="center aligned extra content">
      <a href="/league/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <a href="/dashboard/deleteleague/{{id}}" class="ui icon delete button">
      <i class="icon trash"></i>
      </a>
    </div>
</div>

 {{/each}}