{{#each leagues}}
  <section class="ui center aligned middle aligned eight wide column">
<div class="ui segment">

    <div class="ui grid">
    <div class="ui center aligned middle aligned sixteen wide column">
    <h2 class="bold">
      {{name}}
    </h2>
    <p > <span class = "bold"> Country: </span>{{country}} <br>
    <a href="/league/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <a href="/dashboard/deleteleague/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
      </a></p></div>
    <p class="ui center aligned middle aligned sixteen wide column"">
      <img
                class="ui medium image"
                src={{logo}}
              />
    </p>
                                         
    </div>
       </div>
  </section>
{{/each}}