
{{#each comments}}
   <div class="ui comment">
     <a class="ui avatar">
      <img class="ui avatar" src={{avatar}}>
     </a>
    <div class="content">
      <a class="author">{{username}}</a>
      <div class="metadata">
        <span class="date">{{formatDate date}}</span>
      </div>
      <div class="text">
        {{text}}
      </div>
      <div class="deleteEdit" id="i{{userId}}">
        <div class="ui mini buttons">
    <a class="ui red button" href = "/about/deleteComment/{{id}}">Delete</a>
    <div class="or" data-text="or"></div>
    <button onclick="showEdit('_{{id}}')" class="ui blue button">Edit</button>
  </div>
      </div>
      <form class = "ui fluid segment form" id="_{{id}}" action="/about/updateComment/{{id}}" method="POST">
        <div class="field">
        <span class="ui input">
         <input type="text" name="text" autofocus required title = "Please include some edited text" placeholder="Position" value = "{{text}}"> 
          <button class="ui submit icon button"><i class="icon pencil alternate"></i></button>
        </span>
      </div>
    </form>
    </div>
  </div>
     {{/each}}
