


   {{> menu id="dashboard"}}

<section class="ui segment">
  <div class="ui center aligned segment">
<h3 class="ui center aligned header">Hello {{fullname}}! Here are some personalised stats about your leagues!</h3>
<div class="ui three statistics">
    <div class="ui medium statistic">
        <div class="value">
            {{totalLeagues}}
        </div>
        <div class="label">
            Leagues
        </div>
    </div>
  <div class="ui medium statistic">
        <div class="value">
            {{totalTeams}}
        </div>
        <div class="label">
            Teams
        </div>
    </div>
  <div class="ui medium statistic">
        <div class="value">
            {{averageTeams}}
        </div>
        <div class="label">
            Average Number Of <br>Teams Per League
        </div>
    </div>
         </div>
    <div class="ui two statistics">

            <div class="ui small statistic">
        <div class="value">
            {{leagueMostItems}}
        </div>
        <div class="label">
            League With Most Teams
        </div>
          </div>
      <div class="ui small statistic">
        <div class="value">
            {{leagueLeastItems}}
        </div>
        <div class="label">
            League With Least Teams
        </div>
          </div>
    </div>

  </div>
 {{> addleague}}
  <div class="ui grid">
  {{> listleagues}}
  </div>
</section>

  
